<div class="row text-center">

    {% for result in results %}
        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail">
                <img class="main-movie-show" src="{{ asset('images/movie.png') }}" alt="">
                <div class="caption">
                    <a href="{{ path('user_tube_show', {'login': result.login, 'id': result.id }) }}"><h3 class="main-title-show">{{ result.title }}</h3></a>
                    <p class="main-description-show">{{ result.description }}</p>
                    <p>
                        <a href="{{ path('user_tube_show', {'login': result.login, 'id': result.id }) }}" class="btn btn-primary main-movie-show-link">Oglądaj...</a>
                        <span class="main-link-show">Autor: <a href="{{ path('user_profile_index', {'login' : result.login }) }}">{{ result.login }}</a></span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

</div>