{% extends "::base.html.twig" %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block content_inner %}
    <div class="register-form">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <h4>Podaj swój email w celu wysłania wiadomości z nowym hasłem.</h4>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}