{% block user_menu_items %}

    {% if session == true %}
        {# After login #}
        <ul class="nav navbar-nav navbar-right">
            <li class="settings">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-cog" style="font-size: 14pt;"></b></a>
            <ul class="dropdown-menu">
            <li><a href="{{ path('user_profile_index', {"login": username}) }}"><b class="glyphicon glyphicon-user" style="color: dimgray;"></b> Profil</a></li>
            <li><a href="{{ path('user_profile_modules', {"login": username}) }}"><b class="glyphicon glyphicon-tasks" style="color: dimgray;"></b> Moduły</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('user_profile_settings', {"login": username}) }}"><b class="glyphicon glyphicon-wrench" style="color: dimgray;"></b> Ustawienia</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('user_logout_url') }}"><b class="glyphicon glyphicon-off" style="color: dimgray;"></b> Wyloguj</a></li>
            </ul>
            </li>
        </ul>

        <ul class="nav navbar-right">
            <li><label class="navbar-text">Zalogowano jako <a href="{{ path('user_profile_index', {"login": username}) }}">{{ username }}</a></label></li>
        </ul>
    {% else %}
        {# Before login #}
        <ul class="nav navbar-nav navbar-right">
            <li class="{% if app.request.attributes.get('_route') == 'user_register_url' %}active{% endif %}"><a href="{{ path('user_register_url') }}"><b class="glyphicon glyphicon-fire"></b>Zarejestruj się</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-user" style="font-size: 14pt;"></b> Zaloguj się</a>
                <div class="dropdown-menu login-dropdown">
                    {% if information is defined %}
                        {%  include 'GitboxCoreBundle:InformationBar:index.html.twig' %}
                    {% endif %}
                    {{ form_start(form, {'action': path('home_url')}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="input-group">
                        {{ form_widget(form.password) }}
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                        </span>
                    </div>
                    <p><a href="{{ path('user_recover_password_url') }}">Zapomniałeś hasła?</a></p>
                    {{ form_end(form) }}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}
