{% extends "::base.html.twig" %}

{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content_inner %}
    <div class="register-form">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <h2>Rejestracja</h2>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}

            {{ form_label(form.login) }}
            {{ form_widget(form.login) }}

            {{ form_widget(form.password) }}

            <div class="captcha-container">
                {{ form_label(form.recaptcha) }}
                {{ form_widget(form.recaptcha) }}
            </div>
        </div>

        <p><b>Utworzenie konta jest równoważne z akceptacją <a href="#registrationTerms" data-toggle="modal" data-target="">regulaminu</a>.</b></p>

    {{ form_end(form) }}
    </div>
    <div id="registrationTerms" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registrationTerms" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Warunki korzystania z aplikacji <b>GitBox</b> - Regulamin</h4>
                </div>
                <div class="modal-body">
                    <p>Tutaj powinien pojawić się regulamin</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Zamknij</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

