{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Profil użytkownika `{{ user.login }}`{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" />
{% endblock %}

{% block content_inner %}
<div class="row well box">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked well">
            <li class="active"><a href="#"><i class="fa fa-user"></i> Profil</a></li>
            <li><a href="#"><i class="fa fa-home"></i> Moduły</a></li>
            <li><a href="#"><i class="fa fa-adn"></i> O mnie</a></li>
            <li><a href="#"><i class="fa fa-adn"></i> Pierdy...</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="avatar-box">
            <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="avatar">
            <div class="name"><small>{{ user.login }}</small></div>
        </div>

        <br><br><br>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> Główna</a></li>
            <li><a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-search"></i> Wyszukaj</a></li>
            <li><a href="#tab3" data-toggle="tab"><i class="fa fa-file-text-o"></i> Pierdy...</a></li>
            <li><a href="#tab4" data-toggle="tab"><i class="fa fa-anchor"></i> Nawigacja</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

            </div>


            <div class="tab-pane" id="tab2">

            </div>


            <div class="tab-pane" id="tab3">

            </div>

            <div class="tab-pane" id="tab4">

            </div>
        </div>
    </div>
</div>
{% endblock %}