{% block newDrive_form %}
    <div class="register-form">
        <h2 style="margin-bottom: 20px;">{{ tytul }}</h2>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
        {{ form_end(form) }}
        {{ form_widget(form.save, {
        'label': btnLabel
        }) }}
    </div>
{% endblock %}