{% extends "GitboxCoreBundle:Drive:DriveBase.html.twig" %}

{% block content_inner %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 lp col-xs-6">
            <div class="module-logo-outer">
                <a href="#gitdrive-logo">
                    <img id="gitblog-logo" class="module-logo" src="{{ asset('images/logo/GitDrive_logo.png') }}" >
                </a>
            </div>

            <div>{% block user_panel %}
                    {%   include "GitboxCoreBundle:Drive:userDriveBadge.html.twig" %}
                {% endblock %}
            </div>

            <div class="menu-panel">{% block menu_panel %}
                    {% include "GitboxCoreBundle:Drive:_menu.html.twig" %}
                {% endblock %}
            </div>


        </div>
        <div class="col-md-8 col-sm-6 col-xs-6">{% block drive_r_panel %}


                    <div class="titlePanel">
                            {% block titlepanel %}
                                <a href="{{ path('drive_show_menu', {'login': user.login, 'element': parentMenu.id}) }}">
                                    <span class="glyphicon  glyphicon-circle-arrow-left"></span>
                                </a>
                                <h2>
                                    {{ pageContent.title }}
                                </h2>
                            <a type="button" class="tbbx" href="{{ path('drive_content_edit', {'login': user.login, 'element': pageContent.id }) }}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>

                            {% endblock %}
                    </div>

                    {% block descpanel %}
                    <div class="drive-show-description">

                            {{ pageContent.description }}

                    </div>
                    {%  endblock %}

                    <br>
                    {% block tabelpanel %}
                    <table class="table table-striped">
                        <tr>
                            <th>plik</th>
                            <th>tytuł</th>
                            <th>opis</th>
                            <th></th>
                        </tr>

                            {% for att in pageContentAttachments %}
                        <tr>
                            <td>
                                <a href="{{ path('drive_start')  | raw  }}/../../../web/uploads/drive/{{ user.id }}/{{ att.filename | raw }}">
                                {{ att.filename }}
                                    </a>

                            </td>
                            <td>{{ att.title }}</td>
                            <td>{{ att.description }}</td>
                            {% if logged == true %}
                            <td>
                                <a type="button" class="btn btn-danger" href="{{ path('att_remove_file', {'login': user.login, 'element': pageContent.id , 'el2': att.id}) }}">
                                    <span class="glyphicon glyphicon-trash"></span>usuń
                                </a>
                            </td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                            {% endfor %}

                    </table>
                    {% endblock %}
                {% block buttpanel %}
            {% if logged == true %}
                <div class="driveButtonPanel">
                    <a type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">
                        <span class="glyphicon glyphicon-plus"></span>Dodaj plik

                    </a>

                    <div id="demo" class="collapse">

                        {% include "GitboxCoreBundle:Drive:_form.html.twig" %}
                    </div>
                </div>



            {%  endif %}
                    {%  endblock %}

            {% endblock %}

        </div>
    </div>
{% endblock %}

