{% extends "GitboxCoreBundle:Drive:DriveBase.html.twig" %}

{% block content_inner %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 lp col-xs-6">
            <div class="module-logo-outer">
                <a href="#gitdrive-logo">
                    <img id="gitblog-logo" class="module-logo" src="{{ asset('images/logo/GitDrive_logo.png') }}" >
                </a>
            </div>

            <div>{% block user_panel %}
                    {%   include "GitboxCoreBundle:Drive:userDriveBadge.html.twig" %}
                {% endblock %}
            </div>

            <div class="menu-panel">{% block menu_panel %}
                    {% include "GitboxCoreBundle:Drive:_menu.html.twig" %}
                {% endblock %}
            </div>


        </div>
        <div class="col-md-8 col-sm-6 col-xs-6">{% block drive_r_panel %}


                        <h2>
                            {% block titlepanel %}
                                {{ pageContent.title }}
                            {% endblock %}
                        </h2>

                    {% block descpanel %}
                    <div class="drive-show-description">

                            {{ pageContent.description }}

                    </div>
                    {%  endblock %}

                    <br>
                    {% block tabelpanel %}
                    <table class="table table-striped">
                        <tr>
                            <th>plik</th>
                            <th>tytuł</th>
                            <th>opis</th>
                            <th></th>
                            <th></th>
                        </tr>

                            {% for att in pageContentAttachments %}
                        <tr>
                            <td>{{ att.filename }}</td>
                            <td>Aaaaa</td>
                            <td>lalaala</td>
                            {% if logged == true %}
                            <td>
                                <a type="button" class="btn btn-warning" href="{{ path('drive_contener_new') }}">
                                    <span class="glyphicon glyphicon-trash"></span> edytuj
                                </a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-danger" href="{{ path('drive_contener_new') }}">
                                    <span class="glyphicon glyphicon-cog"></span>usuń
                                </a>
                            </td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                            {% endfor %}

                    </table>
                    {% endblock %}
            {% if logged == true %}
                <div class="driveButtonPanel">
                    <a type="button" class="btn btn-default" href="{{ path('drive_contener_new') }}">
                        Dodaj kontener
                    </a>
                    <a type="button" class="btn btn-default" href="{{ path('drive_item_new') }}">
                        Dodaj element
                        {%  endif %}
                    </a>
                </div>

            {% endblock %}

        </div>
    </div>
{% endblock %}

