{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rating-system.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/tube.css') }}" />
{% endblock %}

{% block content_inner %}


    {% if hasAccess == true %}
        <a href="tube/new"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-film"></span>Nowy</button></a>
    {% endif %}
        <div class="row">
            <div class="well">
                <h1 class="text-center">Filmy użytkownika <i><code>{{ user.login }}</code></i></h1><div class="pull-right"><h6>{{ countPosts }} pozycji</h6></div>
                <div class="list-group">
                    {% for post in posts %}
                                                <a href="{{ path('tube_content_show', {'login': user.login, 'id': post.id}) }}" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left bg-primary">
                                {% for attachment in attachments %}
                                    {% if attachment.idContent == post %}
                                        <img class="media-object img-rounded img-responsive" src="../../../../web/uploads/tube/{{ user.id }}/{{ attachment.filename }}">

                                    {% endif %}

                                {% endfor %}


                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{ post.title }} </h4>
                            <p class="list-group-item-text"> {{ post.description }} </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ post.createDate | date("D d/m/Y H:i:s") }}</p>
                            <p><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ post.lastModificationDate | date("D d/m/Y H:i:s") }}</p>
                            <p><span class="glyphicon glyphicon-eye-open"></span> <b>Wyświetleń</b> <span class="badge">{{ post.hit }}</span></p>

                            <div class="ratings">
                                <div class="rating-up">
                                    <div class="score-up">{{ post.voteUp }}</div>
                                </div>
                                <div class="rating-down">
                                    <div class="score-down">{{ post.voteDown }}</div>
                                </div>
                            </div>

                        </div>
                    </a>

                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}

