{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tube.css') }}" />
    <link rel="stylesheet" href="{{ asset('videoPlayer/video-js.css') }}" />

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('videoPlayer/video.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>

{% endblock %}
{% block title %}{% endblock %}

{% block content_inner %}

{% for post in posts %}
{% if post.mime != 'jpg' %}
    <div class="pull-left">
        <a href="{{ path('tube_index', {'login': user.login}) }}"><button type="button"  class="btn btn-powrot" ><span class="glyphicon glyphicon-arrow-left"></span>Powrót do listy</button></a>
        {% if hasAccess == true %}
            <a href="{{ path('tube_edit_file', {'id': idContent, 'login': user.login}) }}"><button type="button"  class="btn btn-warning" ><span class="glyphicon glyphicon-pencil"></span>Edycja</button></a>
            <a href="{{ path('tube_remove_file', {'id': idContent, 'login': user.login}) }}"><button type="button"  class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span>Skasuj</button></a>
        {% endif %}
        <table class="table" style="max-width: 50%">

        <tr class="bg-primary"><td>

        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="760" height="400"
               poster="{{ imgDir }}"
        data-setup="{}">
        <source src="{{ dir }}" type='video/{{ post.mime }}' />

        </video></td></tr>
    </table>
    </div>

    <div class="pull-right" style=" width: 27%; margin-top: 34px">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                            <center>Tytuł</center>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                    <div class="panel-body">
                        {{ post.title }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                            <center>Informacje</center>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ post.description }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                            <center>Reszta syfu</center>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Plik: <b>536f7f5f367f3</b>
                            <br />
                        Typ: <b>mp4</b>
                            <br />
                        (głosowanie)
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}

{% endblock %}
