{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tube.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/video-default.css') }}" />
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.video-ui.js') }}"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block content_inner %}
<div class="videoUiWrapper thumbnail">
    <video width="370" height="214" id="demo1">
        <source src="../../../../../../../web/uploads/tube/test4/24723.mp4" type="video/mp4">
       {# <source src="http://ia700305.us.archive.org/18/items/CopyingIsNotTheft/CINT_Nik_H264_720_512kb.mp4" type="video/mp4">
       #} Your browser does not support the video tag.

    </video>

</div>

{#https://github.com/html5-ninja/Bootstrap-video-player-jQuery-plugin#}

{% endblock %}
