<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}GitBox{% endblock %}</title>
        {% block stylesheets %}
            {# Bootstrap styles #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

            {# Additionals #}
            <link rel="stylesheet" href="{{ asset('css/additionals/animate.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/additionals/font-awesome.css') }}" />

            {# Main page style #}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {# MENU #}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                {# Brand and toggle get grouped for better mobile display #}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{{ asset('images/GitBox_logo.png') }}" style="width: 109px; height: 27px;"></a>
                </div>

                {# Collect the nav links, forms, and other content for toggling #}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><b class="glyphicon glyphicon-eye-open"></b> Odkrywaj możliwości</a></li>
                        <li><a href="#"><b class="glyphicon glyphicon-question-sign"></b> Pomoc</a></li>
                        <li class="more-options">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inne <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Pierdy raz</a></li>
                                <li><a href="#">Pierdy dwa</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Cośtam #1</a></li>
                            </ul>
                        </li>
                        <li id="search-engine">
                            <input id="search-engine-input" type="text" style="margin: auto;">
                            <button class="btn"><span class="glyphicon glyphicon-search"></span></button>
                        </li>
                    </ul>

                    <ul class="nav navbar-right">
                        <li class="settings">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-cog" style="font-size: 14pt;"></b></a>
                            <ul class="dropdown-menu">
                                {# Before login #}


                                {# After login #}
                                {#<li><a href="#"><b class="glyphicon glyphicon-user" style="color: dimgray;"></b> Profil</a></li>#}
                                {#<li><a href="#"><b class="glyphicon glyphicon-tasks" style="color: dimgray;"></b> Moduły</a></li>#}
                                {#<li class="divider"></li>#}
                                {#<li><a href="#"><b class="glyphicon glyphicon-wrench" style="color: dimgray;"></b> Ustawienia</a></li>#}
                                {#<li class="divider"></li>#}
                                {#<li><a href="#"><b class="glyphicon glyphicon-off" style="color: dimgray;"></b> Wyloguj</a></li>#}
                            </ul>
                        </li>
                    </ul>

                    {# After login #}
                    {#<ul class="nav navbar-right">#}
                        {#<li><label class="navbar-text">Zalogowano jako <a>admin</a></label></li>#}
                    {#</ul>#}

                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-right: 50px;"><a href="#"><b class="glyphicon glyphicon-fire"></b> O twórcach</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {# CONTENT #}
        <div class="container whitened main-window">
            {% block content %}
            {% endblock %}
        </div>

        {# BODY #}
        {% block body %}
        {% endblock %}

        {# FOOTER #}
        <div class="mastfoot">
            {#<p class="inner">Stopka | <a href="#">GitBox INC</a></p>#}
        </div>

        {% block javascripts %}
            {# jQuery #}
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

            {# Bootstrap scripts #}
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
