<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}GitBox{% endblock %}</title>
        {% block stylesheets %}
            {# Bootstrap styles #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />

            {# Additionals #}
            <link rel="stylesheet" href="{{ asset('css/additionals/animate.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/additionals/font-awesome.css') }}" />

            {# Global style #}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {# MENU #}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                {# Brand and toggle get grouped for better mobile display #}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home_url') }}"><img id="main_logo" src="{{ asset('images/logo/GitBox_logo.png') }}"></a>
                </div>

                {# Collect the nav links, forms, and other content for toggling #}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'features_url' %}active{% endif %}"><a href="{{ path('features_url') }}"><b class="glyphicon glyphicon-eye-open"></b> Odkrywaj możliwości</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'help_url' %}active{% endif %}"><a href="{{ path('help_url') }}"><b class="glyphicon glyphicon-question-sign"></b> Pomoc</a></li>
                        <li class="search-engine">
                            <form role="search" class="navbar-form">
                                <div class="form-group">
                                    <input class="search-engine-input" type="text" placeholder="Wyszukaj globalnie na stronie">
                                    <button class="btn"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </form>
                        </li>
                    </ul>

                    {# LOGIN FORM #}
                    {% render controller("GitboxCoreBundle:UserForm:index") %}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if app.request.attributes.get('_route') == 'about_url' %}active{% endif %}" style="margin-right: 50px;"><a href="{{ path('about_url') }}"><b class="glyphicon glyphicon-fire"></b> O aplikacji</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {# OUTER #}
        {% block outer %}
        {% endblock %}

        {# CONTENT #}
        {% block content %}
        <div class="container whitened main-window">
            {% block content_inner %}
            {% endblock %}
        </div>
        {% endblock %}

        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
           title="Powrót do początku strony" data-toggle="tooltip" data-placement="left">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>

        {# FOOTER #}
        {#<div class="mastfoot">#}
            {#<p class="inner">Stopka | <a href="#">GitBox INC</a></p>#}
        {#</div>#}

        {% block javascripts %}
            {# jQuery #}
            <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>

            {# Bootstrap scripts #}
            <script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>

            {# Global scripts #}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
