{% extends "::base.html.twig" %}

{% block content_inner %}

{% if login is defined %}
    <div class="profileDescription">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="module-bar" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {% if module.GitBlog is defined %}
                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon glyphicon-remove"></span>
                            {% endif %}
                            <img class="modules-logo" src="{{ asset('images/logo/GitBlog_logo.png') }}" style="max-height: 26px;">
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="list-group blog">
                            <a href="{{ url('about_url') }}#gitblog-logo" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-question-circle"></i> Dowiedz się więcej o Gitblog.</h4>
                            </a>
                            {% if module.GitBlog is defined %}
                                <a href="{{ url('user_blog', {'login' : login}) }}" class="list-group-item">
                                    <h4 class="list-group-item-heading"><i class="fa fa-reply-all"></i> Wejdź na GitBlog użytkownika {{ login }}.</h4>
                                </a>
                                    <a href="{{ url('user_new_post', {'login' : login}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-quote-right"></i> Dodaj nowy wpis!</h4>
                                    </a>
                                    <a href="{{ url('user_profile_module_deactive', {'login' : login, 'module' : 'GitBlog'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Wyłącz GitBlog.</h4>
                                    </a>
                            {% else %}
                                {% if isOwner == true %}
                                    <a href="{{ url('user_profile_module_active', {'login' : login, 'module' : 'GitBlog'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Włącz GitBlog.</h4>
                                    </a>
                                {% else %}
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-reply-all"></i> Przepraszamy, ale użytkownik {{ login }} nie ma włączonego tego modułu.</h4>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="module-bar" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            {% if module.GitTube is defined %}
                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon glyphicon-remove"></span>
                            {% endif %}
                            <img class="modules-logo" src="{{ asset('images/logo/GitTube_logo.png') }}" style="max-height: 21px;">
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="list-group blog">
                            <a href="{{ url('about_url') }}#gittube-logo" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-question-circle"></i> Dowiedz się więcej o GitTube.</h4>
                            </a>
                            {% if module.GitTube is defined %}
                                <a href="{{ url('tube_index', {'login' : login}) }}" class="list-group-item">
                                    <h4 class="list-group-item-heading"><i class="fa fa-reply-all"></i> Wejdź na GitTube użytkownika {{ login }}.</h4>
                                </a>
                                    <a href="{{ url('tube_new_file', {'login' : login}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-quote-right"></i> Dodaj nowy film!</h4>
                                    </a>
                                    <a href="{{ url('user_profile_module_deactive', {'login' : login, 'module' : 'GitTube'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Wyłącz GitTube.</h4>
                                    </a>
                            {%  else %}
                                {% if isOwner %}
                                    <a href="{{ url('user_profile_module_active', {'login' : login, 'module' : 'GitTube'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Włącz GitTube</h4>
                                    </a>
                                {% else %}
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-reply-all"></i> Przepraszamy, ale użytkownik {{ login }} nie ma włączonego tego modułu.</h4>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="module-bar" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            {% if module.GitDrive is defined %}
                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon glyphicon-remove"></span>
                            {% endif %}
                            <img class="modules-logo" src="{{ asset('images/logo/GitDrive_logo.png') }}" style="max-height: 20px;">
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="list-group blog">
                            <a href="{{ url('about_url') }}#gitdrive-logo" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-question-circle"></i> Dowiedz się więcej o GitDrive.</h4>
                            </a>
                            {% if module.GitDrive is defined %}
                                    <a href="{{ url('user_profile_module_deactive', {'login' : login, 'module' : 'GitDrive'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Wyłącz GitDrive.</h4>
                                    </a>
                            {% else %}
                                {% if isOwner %}
                                    <a href="{{ url('user_profile_module_active', {'login' : login, 'module' : 'GitDrive'}) }}" class="list-group-item">
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-off"></span></i> Włącz GitDrive.</h4>
                                    </a>
                                {% else %}
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-reply-all"></i> Przepraszamy, ale użytkownik {{ login }} nie ma włączonego tego modułu.</h4>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div>Zaloguj się, aby odkrywać możliwości</div>
{% endif %}
{% endblock %}
