{% extends 'GitboxApplicationBundle::Layout/layout.html.twig' %}

{% block title %}Rejestracja{% endblock%}

{% block body %}
    <header>
        <h1>Rejestracja</h1>
    </header>

    <p>Zakładasz konto?</p>

    <form action="{{ path('gitbox_application_register') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.login) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}