{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BannedIp list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Ip</th>
                <th>Createdate</th>
                <th>Expiredate</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bans_show', { 'id': entity.id }) }}">{{ entity.ip }}</a></td>
                <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.expireDate %}{{ entity.expireDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bans_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bans_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('bans_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
