{% form_theme form 'GitboxCoreBundle:UserSidebar:form_template.html.twig' %}

{% block user_sidebar %}
    <div class="collapse-slider-switch">
        <div class="collapse-slider-cell">»</div>
    </div>
    <div class="col-lg-3 col-md-8 sidebar">
        <div class="avatar-box">
            <input type="hidden" class="sidebar-update" data-link="{{ path('user_sidebar_update', {'login': user.login}) }}">
            <a class="no-decoration keep-color" href="{{ path('user_profile_index', {'login': user.login}) }}">
                <img class="pic img-circle" src="{{ user.email | getGravatarImage(160)}}" alt="avatar">
                <div class="username">{{ user.login }}</div>
            </a>
            <div class="profile-info">
                <h6><b>Dołączył </b>{{ userDescription.registrationDate | date("D d/m/Y H:i:s") }}</h6>
                <h6><b>Odwiedziny </b>{{ userDescription.hit }}</h6>
                <h6>
                    <b>Suma głosów </b>
                    {% if userDescription.ratingScore > 0 %}
                        <span class="badge badge-score badge-lightgreen">
                            {{ userDescription.ratingScore }}
                            <span class="inner-badge-sub">({{ userDescription.ratingQuantity }})</span>
                        </span>
                    {% elseif userDescription.ratingScore < 0 %}
                        <span class="badge badge-score badge-lightpink">
                            {{ userDescription.ratingScore }}
                            <span class="inner-badge-sub">({{ userDescription.ratingQuantity }})</span>
                        </span>
                    {% else %}
                        <span class="badge badge-score">
                            {{ userDescription.ratingScore }}
                            <span class="inner-badge-sub">({{ userDescription.ratingQuantity }})</span>
                        </span>
                    {% endif %}
                </h6>
                <h6><b>Ilość postów </b>{{ userModule.totalContents }}</h6>
                {% if user.status == 'B' %}
                    <h6 class="banned-date"><b>Zbanowany </b>{{ userDescription.banDate | date("D d/m/Y H:i:s") }}</h6>
                {% endif %}
            </div>
        </div>

        <div class="well">
            <h4>Wyszukaj na blogu użytkownika</h4>
            {{ form_start(form, {
                'action': path('user_' ~ module, {'login': user.login}),
                'method': 'GET'
            }) }}
                <div class="input-group">
                    {{ form_widget(form.title) }}
                    <span class="input-group-btn">
                        {{ form_widget(form.submit) }}
                    </span>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="well">
            <h4>Popularne kategorie</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-unstyled">
                        <li><a href="#mama">Mama</a>
                        </li>
                        <li><a href="#tata">Tata</a>
                        </li>
                        <li><a href="#placki">Placki</a>
                        </li>
                        <li><a href="#kacper">Kacper</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-unstyled">
                        <li><a href="#konsole">Konsole</a>
                        </li>
                        <li><a href="#gry-komputerowe">Gry komputerowe</a>
                        </li>
                        <li><a href="#rozrywka">Rozrywka</a>
                        </li>
                        <li><a href="#podróże">Podróże</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}