{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Profil użytkownika `{{ login|upper }}`{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" />
{% endblock %}

{% block content_inner %}
    <div class="row well box">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked well">
                <li class="{% if(app.request.attributes.get('_route') == 'user_profile_index') %} active {% endif %}"><a href="{{ path('user_profile_index', {'login' : login}) }}"><i class="fa fa-user"></i> Profil</a></li>
                <li class="{% if(app.request.attributes.get('_route') == 'user_profile_modules') %} active {% endif %}"><a href="{{ path('user_profile_modules', {'login' : login}) }}"><i class="fa fa-home"></i> Moduły</a></li>
                {% if isOwner == true %}
                <li class="{% if(app.request.attributes.get('_route') == 'user_profile_settings') %} active {% endif %}"><a href="{{ path('user_profile_settings', {'login' : login}) }}"><i class="fa fa-adn"></i> Ustawienia</a></li>
                {% endif %}
                <li class="{% if(app.request.attributes.get('_route') == 'user_profile_search') %} active {% endif %}"><a href="{{ path('user_profile_search', {'login' : login}) }}"><i class="glyphicon glyphicon-search"></i> Wyszukaj</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="avatar-box">
                <img class="pic img-circle" src="{{ email | getGravatarImage(160)}}" alt="avatar">
                <div class="name">{{ login }}</div>
            </div>


            <div class="tab-content">
                {% block profileContent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}