{% extends "GitboxCoreBundle:Blog:layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content_inner %}
<div class="row">
    <div class="col-lg-8 main-content">

        {# POSTS #}
        {% for post in posts %}
            <div class="post-in-the-box">
                <a class="no-decoration keep-color" href="{{ path('user_show_post', {'login': user.login, 'id': post.id}) }}">
                    <h1>{{ post.title }}</h1>
                    <p><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ post.createDate | date("D j/m/Y H:i:s") }}</p>
                    <p><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ post.lastModificationDate | date("D j/m/Y H:i:s") }}</p>
                    {# TODO: rating #}
                    <hr>

                    <div class="post-content">
                        {{ post.description | raw }}
                    </div>

                    <div class="comments-link-container" title="Skomentuj „{{ post.title }}”">
                        <h5>
                            <a class="comments-link no-decoration" href="{{ path('user_show_post', {'login': user.login, 'id': post.id}) }}#comments">Komentarze
                                <span class="badge">999+</span>
                            </a>
                        </h5>
                    </div>
                </a>
            </div>
            {% if not loop.last %}
                <hr class="divider">
            {% endif%}
        {% else %}
            <div class="post-in-the-box">
                <h1>To jest przykładowy wpis.</h1>
                <p><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ "now"|date("D j/m/Y H:i:s") }}</p> {# date formats: D j/m/Y H:i:s || D j, F Y - H:i:s #}
                <p><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ "now"|date("D j/m/Y H:i:s") }}</p>
                {# TODO: rating dummy #}
                <hr>

                <p class="lead">Może warto by coś napisać?</p>
                <p>Jeśli chcesz dodać nowy wpis, przejdź na swój profil.</p>
                <p>Następnie przejdź do zakładki `Moduły` i wybierz `Dodaj nowy wpis`.</p>
                <p class="lead">Powodzenia! :-)</p>

                <div class="comments-link-container" title="Skomentuj „To jest przykładowy wpis.”">
                    <h5>
                        <a class="comments-link no-decoration" href="#">Komentarze
                            <span class="badge">999+</span>
                        </a>
                    </h5>
                </div>
            </div>
        {% endfor %}
    </div>

    {# USER SIDEBAR #}
    {% include "GitboxCoreBundle:UserSidebar:render.html.twig" %}
</div>
<hr>
{% endblock %}
