{% extends "GitboxCoreBundle:Blog:layout.html.twig" %}

{% block title %}{{ parent() }} | „{{ post.title }}”{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rating-system.css') }}" />
{% endblock %}

{% block content_inner %}
<div class="row">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable alert-message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage | raw }}
        </div>
    {% endfor %}

    <div class="col-lg-8 main-content">
        <a href="{{ path('user_blog', {'login': user.login}) }}" class="btn btn-info btn-need-some-space"><i class="glyphicon glyphicon-arrow-left"></i> Powrót do wpisów</a>
        {# post #}
        <div class="post-in-the-box">
            <h1 class="post-title">{{ post.title }}</h1>
            <p><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ post.createDate | date("D d/m/Y H:i:s") }}</p>
            <p><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ post.lastModificationDate | date("D d/m/Y H:i:s") }}</p>
            <p><span class="glyphicon glyphicon-eye-open"></span> <b>Wyświetleń</b> <span class="badge">{{ post.hit }}</span></p>
            {% if hasAccess == true %}
                <a class="btn-float-left"
                   href="{{ path('user_edit_post', {'login': user.login, 'id': post.id, 'calledBy': 'showAction'}) }}"
                   title="Edytuj wpis" data-toggle="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-pencil"></span> Edytuj
                </a>
                <a class="btn-float-left btn-post-remove" href="#"
                   data-link="{{ path('user_remove_post', {'id': post.id, 'login': user.login}) }}"
                   title="Usuń wpis" data-toggle="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-trash"></span> Usuń
                </a>
                <hr style="margin-top: 40px;">
            {% else %}
                <div class="ratings">
                    <div class="rating-up">
                        {% if app.request.cookies.get('vote_' ~ post.id) is not null %}
                            <div class="score-up">{{ post.voteUp }}</div>
                        {% else %}
                            <div class="score-up" style="display: none;">{# wypełniane po głosowaniu #}</div>
                            <a class="btn btn-sm btn-vote-up" href="{{ path('user_content_vote', {'module': 'blog', 'type': 'up', 'login': user.login, 'id': post.id}) }}">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="rating-down">
                        {% if app.request.cookies.get('vote_' ~ post.id) is not null %}
                            <div class="score-down">{{ post.voteDown }}</div>
                        {% else %}
                            <div class="score-down" style="display: none;">{# wypełniane po głosowaniu #}</div>
                            <a class="btn btn-sm btn-vote-down" href="{{ path('user_content_vote', {'module': 'blog', 'type': 'down', 'login': user.login, 'id': post.id}) }}">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endif %}

            <div class="post-content">
                {{ post.description | raw }}
            </div>
        </div>
        <hr>

        {# komentarze #}
        <div id="comments-content">
            <div id="add-comment" class="well">
                <h4>Napisz komentarz:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>

            <div id="comments">
                <div class="comment">
                    <h3>
                        <a class="no-decoration keep-color comment-link" href="{{ path('user_profile_index', {'login': user.login}) }}">user #1</a>
                        <small>Wed 23, 04 2014  15:48:48</small>
                    </h3>
                    <p>Śmierdź</p>
                </div>
                <div class="comment">
                    <h3>
                        <a class="no-decoration keep-color comment-link" href="{{ path('user_profile_index', {'login': user.login}) }}">user #2</a>
                        <small>Thu 24, 04 2014  14:29:59</small>
                    </h3>
                </div>
            </div>
            <p>Uff! Zdążyliśmy...</p>
        </div>
    </div>

    {# USER SIDEBAR #}
    {% include "GitboxCoreBundle:UserSidebar:render.html.twig" %}

    {# POST REMOVE MODAL #}
    <div id="postRemoveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="postRemove" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{# Usuń wpis `post.title` #}</h4>
                </div>
                <div class="modal-body">
                    {#
                        Czy na pewno chcesz usunąć wpis `post.title`?
                        Usunięte zostaną również jego komentarze, twoje oceny oraz ogólna zawartość.
                    #}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Zamknij</a>
                    <a class="btn btn-danger btn-remove-confirm" href="#"{# <- path(...) #} title="Usuń wpis">
                        <span class="glyphicon glyphicon-trash"></span> Usuń wpis
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>

</div>
{% endblock %}

{% block lazy_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ratingSystem.js') }}"></script>
{% endblock %}