{% extends "GitboxCoreBundle:Blog:layout.html.twig" %}

{% block title %}{{ parent() }} | „{{ post.title }}”{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rating-system.css') }}" />
{% endblock %}

{% block content_inner %}
<div class="row">

    <div class="col-lg-8 main-content">
        <a href="{{ path('user_blog', {'login': user.login}) }}" class="btn btn-info btn-need-some-space"><i class="glyphicon glyphicon-arrow-left"></i> Powrót do wpisów</a>
        {# post #}
        <div class="post-in-the-box">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="time-box"><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ post.createDate | date("D d/m/Y H:i:s") }}</p>
            <p class="time-box"><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ post.lastModificationDate | date("D d/m/Y H:i:s") }}</p>
            <p><span class="glyphicon glyphicon-eye-open"></span> <b>Wyświetleń</b> <span class="badge">{{ post.hit }}</span></p>
            {% if hasAccess == true %}
                <div class="ratings">
                    <div class="rating-up">
                        <div class="score-up">{{ post.voteUp }}</div>
                    </div>
                    <div class="rating-down">
                        <div class="score-down">{{ post.voteDown }}</div>
                    </div>
                </div>
                <div class="user-options">
                    <a class="option-left"
                       href="{{ path('user_edit_post', {'login': user.login, 'id': post.id, 'calledBy': 'showAction'}) }}"
                       title="Edytuj wpis" data-toggle="tooltip" data-placement="bottom">
                        <span class="glyphicon glyphicon-pencil"></span> Edytuj
                    </a>
                    <a class="option-left btn-post-remove" href="#"
                       data-link="{{ path('user_remove_post', {'id': post.id, 'login': user.login}) }}"
                       title="Usuń wpis" data-toggle="tooltip" data-placement="bottom">
                        <span class="glyphicon glyphicon-trash"></span> Usuń
                    </a>
                    <hr style="margin-top: 5px;">
                </div>
            {% else %}
                <div class="ratings">
                    <div class="rating-up">
                        {% if app.request.cookies.get('vote_' ~ post.id) is not null %}
                            <div class="score-up">{{ post.voteUp }}</div>
                        {% else %}
                            <div class="score-up" style="display: none;">{# wypełniane po głosowaniu #}</div>
                            <a class="btn btn-sm btn-vote-up" href="{{ path('user_content_vote', {'module': 'blog', 'type': 'up', 'login': user.login, 'id': post.id}) }}">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="rating-down">
                        {% if app.request.cookies.get('vote_' ~ post.id) is not null %}
                            <div class="score-down">{{ post.voteDown }}</div>
                        {% else %}
                            <div class="score-down" style="display: none;">{# wypełniane po głosowaniu #}</div>
                            <a class="btn btn-sm btn-vote-down" href="{{ path('user_content_vote', {'module': 'blog', 'type': 'down', 'login': user.login, 'id': post.id}) }}">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endif %}

            <div class="post-content">
                {{ post.description | raw }}
            </div>

            <hr>

            <div class="post-categories">
                <span class="glyphicon glyphicon-list"></span> <b>Kategorie </b>
                {% for category in post.idCategory %}
                    <span class="label label-default label-border-default">{{ category.name }}</span>
                {% else %}
                    <em>brak</em>
                {% endfor %}
            </div>
        </div>
        <hr>

        {# komentarze #}
        <div id="comments-content">
            {{ knp_disqus_render('gitbox', {'identifier': 'gitblog/' ~ user.login ~ '/' ~ post.id, 'limit': 10}) }}
        </div>
    </div>

    {# USER SIDEBAR #}
    {% render controller("GitboxCoreBundle:UserSidebar:render", {'user': user, 'actionUrl': 'user_blog'}) %}

    {# POST REMOVE MODAL #}
    <div id="postRemoveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="postRemove" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{# Usuń wpis `post.title` #}</h4>
                </div>
                <div class="modal-body">
                    {#
                        Czy na pewno chcesz usunąć wpis `post.title`?
                        Usunięte zostaną również jego komentarze, twoje oceny oraz ogólna zawartość.
                    #}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Zamknij</a>
                    <a class="btn btn-danger btn-remove-confirm" href="#"{# <- path(...) #} title="Usuń wpis">
                        <span class="glyphicon glyphicon-trash"></span> Usuń wpis
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>
{% endblock %}

{% block lazy_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ratingSystem.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sidebarUpdater.js') }}"></script>
{% endblock %}