{% extends "GitboxCoreBundle:Blog:layout.html.twig" %}

{% block title %}{{ parent() }} | „{{ post.title }}”{% endblock %}

{% block content_inner %}
<div class="row">
    <div class="col-lg-8 main-content">

        {# post #}
        <div class="post-in-the-box">
            <h1>{{ post.title }}</h1>
            <p><span class="glyphicon glyphicon-time"></span> <b>Utworzono</b> {{ post.createDate | date("D j/m/Y H:i:s") }}</p>
            <p><span class="glyphicon glyphicon-time"></span> <b>Ostatnio edytowano</b> {{ post.lastModificationDate | date("D j/m/Y H:i:s") }}</p>
            {# TODO: rating #}
            <hr>

            <div class="post-content">
                {{ post.description | raw }}
            </div>
        </div>
        <hr>

        {# komentarze #}
        <div id="comments-content">
            <div id="add-comment" class="well">
                <h4>Napisz komentarz:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>

            <div id="comments">
                <div class="comment">
                    <h3>
                        <a class="no-decoration keep-color comment-link" href="{{ path('user_profile_index', {'login': user.login}) }}">user #1</a>
                        <small>Wed 23, 04 2014  15:48:48</small>
                    </h3>
                    <p>Śmierdź</p>
                </div>
                <div class="comment">
                    <h3>
                        <a class="no-decoration keep-color comment-link" href="{{ path('user_profile_index', {'login': user.login}) }}">user #2</a>
                        <small>Thu 24, 04 2014  14:29:59</small>
                    </h3>
                </div>
            </div>
            <p>Uff! Zdążyliśmy...</p>
        </div>
    </div>

    {# USER SIDEBAR #}
    {% include "GitboxCoreBundle:UserSidebar:render.html.twig" %}
</div>
<hr>

</div>
{% endblock %}
